<div id="header">
	<div class="block-background">
		<div class="block-text">
			<div class="game">
				<span class="text-color-orange text-style-strong text-size-medium">Counter Strike 1.6</span>
			</div>
			<div class="title">
				<span class="text-color-white text-style-strong text-size-big">Comunidad SysGames</span>
			</div>
			<div class="description">
				<span class="text-color-gray text-size-small">
					Las noticias más importantes sobre los juegos online y juegos en red que no te podes perder.
					Visita nuestra radio online, y escuchá los mejores temas.
				</span>
			</div>
		</div>
	</div>
</div>
