<div id="nav-register">
</div>
<div id="nav-block">
	<ul class="nav-links">
		<li class="nav-item">
			<a id="home" class="menu-link text-size-medium text-color-white">inicio</a>
		</li>
		<li class="nav-item">
			<a class="menu-link text-size-medium text-color-gray" href="#">noticias</a>
		</li>
		<li class="nav-item">
			<a class="menu-link text-size-medium text-color-gray" href="#">miembros</a>
		</li>
		<li class="nav-item">
			<a class="menu-link text-size-medium text-color-gray" href="#">servidores</a>
		</li>
	</ul>
	<div id="logo">
		<img src="http://www.sysgames.net/miteamcs/images/logo.png">
	</div>
	<ul class="nav-links">
		<li class="nav-item">
			<a id="videos" class="menu-link text-size-medium text-color-gray">videos</a>
		</li>
		<li class="nav-item">
			<a class="menu-link text-size-medium text-color-gray" href="#">pcw/closed</a>
		</li>
		<li class="nav-item">
			<a class="menu-link text-size-medium text-color-gray" href="#">foros</a>
		</li>
		<li class="nav-item">
			<a class="menu-link text-size-medium text-color-gray" href="#">contacto</a>
		</li>
	</ul>
</div>